* {
    margin: 0;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    padding: 0;
    outline: none;
    border: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}
