@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");
* {
  margin: 0;
  font-family: "Prompt", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  padding: 0;
  outline: none;
  border: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffb830;
}

.navbar > a {
  text-decoration: none;
  font-weight: bold;
  font-size: 2em;
  color: #000;
}

.navbar > ul {
  display: flex;
}

.navbar > ul li {
  padding: 0.5rem 1.5rem;
}

.navbar > ul li:hover {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.navbar > ul li:active {
  color: #444444;
}

.navbar .loginBtn {
  width: 100px;
  height: 30px;
  background-color: #FFEDDA;
  transition: background-color 0.25s ease;
}

.navbar .loginBtn:hover {
  background-color: #fad184;
  cursor: pointer;
}

.navbar .loginBtn:active {
  background-color: #FFEDDA;
}

.navbar .cartWidget {
  height: 100%;
  width: 4.5em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: background-color 0.25s ease;
}

.navbar .cartWidget:hover {
  background-color: #fad184;
  cursor: pointer;
}

.itemCountCtn {
  width: 200px;
  height: 150px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FFEDDA;
}

.itemCountCtn button {
  background-color: transparent;
  cursor: pointer;
}

.itemCountCtn .counter {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  font-size: 1.2em;
}

.itemCountCtn .counter button {
  width: 50px;
  height: 100%;
  font-size: 2em;
  line-height: 1px;
}

.itemCountCtn .counter button:hover {
  background-color: #fad184;
}

.itemCountCtn .counter button:active {
  background-color: #ffb830;
}

.itemCountCtn .addProdBtn {
  background-color: #ffb830;
  padding: 10px 0;
}

.itemCountCtn .addProdBtn:hover {
  background-color: #fad184;
}

.itemCountCtn .addProdBtn:active {
  background-color: #ddd;
}

.itemListContainer .greetingMsg {
  width: 100%;
  height: 150px;
  text-align: center;
  line-height: 6;
  background-color: #FFEDDA;
}

.itemListContainer ul {
  width: 85%;
  margin: 100px auto;
  display: grid;
  grid-template-columns: repeat(4, 280px);
  grid-gap: 20px;
  text-transform: capitalize;
  justify-content: center;
}

@media (max-width: 1000px) {
  .itemListContainer ul {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.itemListContainer ul li.itemProduct {
  width: 280px;
  padding: 15px;
  box-shadow: 0 0 5px #ddd;
  border-radius: 25px;
  text-align: center;
  transition: transform 0.5s ease;
}

.itemListContainer ul li.itemProduct:hover {
  transform: scale(1.03);
  cursor: pointer;
  background-color: #eee;
}

.itemListContainer ul li.itemProduct:hover img {
  filter: brightness(0.9);
}

.itemListContainer ul li.itemProduct:active {
  background-color: #ddd;
}

.itemListContainer ul li.itemProduct img {
  width: 100%;
  max-height: 170px;
  min-height: 170px;
  object-fit: cover;
  border-radius: 15px;
}

.itemListContainer ul li.itemProduct p {
  margin: 5px 0;
}

.itemListContainer ul li.itemProduct p.productPrice {
  font-size: 1.2em;
  font-weight: bold;
}

.itemDetailCtn {
  width: 50%;
  padding: 100px;
}

.itemDetailCtn > h2 {
  margin-bottom: 30px;
}

.itemDetailCtn .itemDetail {
  display: flex;
  text-transform: capitalize;
}

@media (max-width: 1000px) {
  .itemDetailCtn .itemDetail {
    flex-wrap: wrap;
  }
}

.itemDetailCtn .itemDetail img {
  width: 600px;
  margin-right: 30px;
  border-radius: 15px;
}

@media (max-width: 1000px) {
  .itemDetailCtn .itemDetail img {
    width: 100%;
    margin: 0 0 20px 0;
  }
}

.itemDetailCtn .itemDetail .t,
.itemDetailCtn .itemDetail .p {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 10px;
}

@media (max-width: 1000px) {
  .itemDetailCtn .itemDetail .t,
  .itemDetailCtn .itemDetail .p {
    font-size: 1.2em;
  }
}

.itemDetailCtn .itemDetail .d {
  margin-bottom: 10px;
}
/*# sourceMappingURL=index.css.map */